<div class="card card-body bg-light mb-2 mt-2">
  <div class="row">
    <div class="col-md-6">
      <strong>templateTechniqueItemId:</strong>
    </div>
    <div class="col-md-6">
      {{templateTechniqueItem?.templateTechniqueItemId}}
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <strong>templateTechniqueId:</strong>
    </div>
    <div class="col-md-6">
      {{templateTechniqueItem?.templateTechniqueId}}
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <strong>templateTechniqueItemName:</strong>
    </div>
    <div class="col-md-6">
      {{templateTechniqueItem?.templateTechniqueItemName}}
    </div>
  </div>
  <div class="row">
      <div class="col-md-6">
        <strong>templateTechniqueItemDescription:</strong>
      </div>
      <div class="col-md-6">
        {{templateTechniqueItem?.templateTechniqueItemDescription}}
      </div>
  </div>
  <div class="row">
      <div class="col-md-6">
        <strong>templateTechniqueItemVersion:</strong>
      </div>
      <div class="col-md-6">
        {{templateTechniqueItem?.templateTechniqueItemVersion}}
      </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <strong>templateTechniqueItemVersionNET:</strong>
    </div>
    <div class="col-md-6">
      {{templateTechniqueItem?.templateTechniqueItemVersionNET}}
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <strong>templateTechniqueInitialFile:</strong>
    </div>
    <div class="col-md-6">
      {{templateTechniqueItem?.templateTechniqueInitialFile}}
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <strong>templateTechniqueFinalContent:</strong>
    </div>
    <div class="col-md-6">
      {{templateTechniqueItem?.templateTechniqueFinalContent}}
    </div>
  </div>
</div>
 

