<div class="offset-10 col-md-2 mt-2"> 
    <button type="button" id="details" class="btn btn-primary"
        (click)="getTechniqueItemCreate(listeTechniqueItem[0].templateTechniqueItemId)">
        Details
    </button>
</div>

<div class="row">
<div class="col-md-12">
    <div class="table-responsive">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>TemplateTechniqueItemName</th>
            <th>TemplateTechniqueItemTitle</th>
            <th>TemplateTechniqueItemDescription</th>
            <th>TemplateTechniqueItemVersion</th>
            <th>TemplateTechniqueInitialFile</th>
            <th>TemplateTechniqueFinalContent</th>
            <th>Details</th>
            <th>Update</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let templateItem of listeTechniqueItem" 
            (click)="onAccountClicked(templateItem)">
            <td>{{templateItem?.templateTechniqueItemName}}</td>
            <td>{{templateItem?.templateTechniqueItemTitle}}</td>
            <td>{{templateItem?.templateTechniqueItemDescription}}</td>
            <td>{{templateItem?.templateTechniqueItemVersion}}</td>
            <td>{{templateItem?.templateTechniqueInitialFile}}</td>
            <td>{{templateItem?.templateTechniqueFinalContent}}</td>
            <td><button type="button" id="details" class="btn btn-primary"
                (click)="getTechniqueItemDetails(templateItem.templateTechniqueItemId)">
                Details
            </button></td>
            <td><button type="button" id="update" class="btn btn-success"
                (click)="getTechniqueItemUpdate(templateItem.templateTechniqueItemId)">
                Update
            </button></td>
            <td><button type="button" id="delete" class="btn btn-danger"
                (click)="getTechniqueItemDelete(templateItem.templateTechniqueItemId)">
                Delete
            </button></td>
        </tr>
        </tbody>
    </table>
    </div>
</div>
</div>