<div class="row">
    <div class="offset-10 col-md-2 mt-2"> <a [routerLink]="['/templateProject/create']">Create owner</a> </div>
  </div> <br>
  <div class="row">
    <div class="col-md-12">
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>TemplateProject Id</th>
              <th>TemplateProject Name</th>
              <th>TemplateProject Title</th>
              <th>Details</th>
              <th>Update</th>
              <th>Delete</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let templateProject of templateProjects">
              <td>{{templateProject.templateProjectId}}</td>
              <td>{{templateProject.templateProjectName}}</td>
              <td>{{templateProject.templateProjectTitle}}</td>
              <td><button type="button" id="details" class="btn btn-primary" 
                (click)="getTemplateProjectDetails(templateProject.templateProjectId)">Details</button></td>
                <td><button type="button" id="update" class="btn btn-success"
                  (click)="redirectToUpdatePage(templateProject.templateProjectId)">Update</button></td>
                  <td><button type="button" id="delete" class="btn btn-danger"
                    (click)="redirectToDeletePage(templateProject.templateProjectId)">Delete</button></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>