<div class="card card-body bg-light mb-2 mt-2">
    <div class="row">
      <div class="col-md-3">
        <strong>TemplateProjectId:</strong>
      </div>
      <div class="col-md-3">
        {{templateProject.templateProjectId}}
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <strong>TemplateProjectName:</strong>
      </div>
      <div class="col-md-3">
        {{templateProject?.templateProjectName}}
      </div>
    </div>
    <div class="row">
        <div class="col-md-3">
          <strong>TemplateProjectDescription:</strong>
        </div>
        <div class="col-md-3">
          {{templateProject?.templateProjectDescription}}
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
          <strong>TemplateProjectVersion:</strong>
        </div>
        <div class="col-md-3">
          {{templateProject?.templateProjectVersion}}
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
          <strong>TemplateProjectVersionNet:</strong>
        </div>
        <div class="col-md-3">
          {{templateProject?.templateProjectVersionNet}}
        </div>
    </div>
</div>
  
