<form [formGroup]="projectDetailsForm" autocomplete="off" >
<div class="container-fluid">
  <div class="card card-body bg-light mb-2 mt-2">
    <div class="row mb-3">
      <label for="templateProjectName" class="col-form-label col-md-2">Name : </label>
      <div class="col-md-5">
        <input type="text" 
          formControlName="templateProjectName" 
          id="templateProjectName" 
          class="form-control" 
          [(ngModel)]="templateProject.templateProjectId"/>
      </div>
    </div>

    <div class="row mb-3">
        <label for="templateProjectTitle" class="col-form-label col-md-2">Title : </label>
        <div class="col-md-5">
          <input type="text" 
            formControlName="templateProjectTitle" 
            id="templateProjectTitle" 
            class="form-control" 
            [(ngModel)]="templateProject.templateProjectTitle"/>
        </div>
    </div>
    
    <div class="row mb-3">
        <label for="templateProjectDescription" class="col-form-label col-md-2">Description : </label>
        <div class="col-md-5">
          <input type="text" 
            formControlName="templateProjectDescription" 
            id="templateProjectDescription" 
            class="form-control" 
            [(ngModel)]="templateProject.templateProjectDescription"/>
        </div>
    </div>

    <div class="row mb-3">
        <label for="templateProjectVersion" class="col-form-label col-md-2">Version : </label>
        <div class="col-md-5">
          <input type="text" 
            formControlName="templateProjectVersion" 
            id="templateProjectVersion" 
            class="form-control" 
            [(ngModel)]="templateProject.templateProjectVersion"/>
        </div>
    </div>

    <div class="row mb-3">
        <label for="templateProjectVersionNet" class="col-form-label col-md-2">VersionNet : </label>
        <div class="col-md-5">
          <input type="text" 
            formControlName="templateProjectVersionNet" 
            id="templateProjectVersionNet" 
            class="form-control" 
            [(ngModel)]="templateProject.templateProjectVersionNet"/>
        </div>
    </div>

    <div class="row">
      <editor apiKey="hz02awppy81e4p1nxz56msqlursgj5kqic9dj7dvnv9j9di5"
        [init]="{
          height: 500,
          menubar: false,
          plugins: [
            'advlist autolink lists link image charmap print preview anchor',
            'searchreplace visualblocks code fullscreen',
            'insertdatetime media table paste code help wordcount'
          ],
          toolbar:
            'undo redo | formatselect | bold italic backcolor | \
            alignleft aligncenter alignright alignjustify | \
            bullist numlist outdent indent | removeformat | help'
        }"
        
      ></editor>
    </div>

    <br><br>

  </div>
</div>
</form>

  
